.Polonia{
  border: 2px solid grey;
  width: 400px;
  height: 200px;
}
.polonia1{
    height: 50%;
    width: 100%;
    background-color: white;

}
.polonia2{
    height: 50%;
    width: 100%;
    background-color: red;
}