.bandeira {
    margin-top: 200px;
    width: 400px;
    height: 300px;
  }

  .faixaBranca {
    width: 100%;
    height: 50%;
    background-color: #fff;
  }

  .faixaVermelha {
    width: 100%;
    height: 50%;
    background-color: #ff0000;
  }